@import "./normal.css";
@import "./dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;

    background: var(--color-bg);
    color: var(--color-primary);

    min-height: 100vh;
}
